@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: 700;
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: 600;
}
@font-face{
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format("truetype");
    font-weight: 900;
}
hr{
    
    border: 1px solid #FFFFFF
}
a{
    text-decoration: none;
}
body{
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}
.container{
    width: 1475px;
    margin: 0 auto;
}
.main{
    background: url('../img/photos/backgr.png') no-repeat center center / cover;
}
.header{
    padding-top: 27px;
}
.header_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17px;
}
.header_text{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 462px;
    text-align:center;
}
.header_block{
    display: flex;
    align-items: center;
}
.header_icons{
    display: flex;
}
.header_icon{
    margin-right: 9px;
}
.header_content{
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;  
    margin-right: 9px;
}
.header_number{
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
    justify-content: right;
    text-align: end;
    display: flex;
}
.header_number:hover{
    text-shadow: 0 0 4px purple;
}
/* face */
.face_wrapper{
    margin-top: 19px;
    padding-bottom: 50px;

}
.face_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 19px;
    margin-bottom: 15px;
}
.face_content{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 38px;
}
.colortext{
    color: #402D50;
}
.face_block_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}
.face_block{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.face_block_icon{
    height: 71px;
    width: 71px;
    margin-right: 50px;
}
.face_blocks{
    margin-bottom: 69px;
}
.face_text2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-bottom: 54px;
}
.face_btn{
    display: flex;
    align-items: center;
    background: #A56492;
    border-radius: 20px;
    border: none;
    width: 299px;
    height: 91px;
    box-shadow: 0 0 22px #FFFFFF;
    margin-left: 50px;
    justify-content: center;
}
.face_btn_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 17px;
}
.face_btn:hover{
    box-shadow: 0 0 22px #402D50;
}
/* covid */
.covid_content{
    width: 600px;
    margin-left: 182px;
    margin-top: 20px;
}
.covid_wrapper{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
}
.covid_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 64px;
}
.covid_text2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 64px;
}
.covid_btn{
    display: flex;
    align-items: center;
    background: #A56492;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 22px #402D50;
    margin-left: 50px;
    justify-content: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    margin-left: 17px;
    height: 91px;
    width: 480px;
}
.covid_btn:hover{
    box-shadow: 0 0 30px #180725;
}
/* director */
.colortext2{
    color:  #402D50;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
.direcor_name{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.director_photo{
    margin-top: -25px;
}
.director_wrapper{
    display: flex;
    margin-top: 124px;
    margin-bottom: 100px;
}
.director_content{
    margin-left: 166px;
}
.director_beginning{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 12px;
}
.director_name_company{
    margin-bottom: 21px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #402D50;
}
.director_text{
    width: 613px;
    margin-bottom: 59px;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.director_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
}
.director_input_name::placeholder{
    color: white;
}
.director_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
    margin-left: 55px;
}
.director_input_number::placeholder{
    color: white;
}
.director_input{
    margin-bottom: 63px;
}
.director_btn1{
    width: 278px;
    height: 91px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #FFFFFF;  
    border: none;
    background: #A9A6A8;
    border-radius: 20px; 
    margin-right: 58px;
}
.director_btn1:hover{
    box-shadow: 0 0 20px #A9A6A8;
}
.director_btns{
    display: flex;
}
.director_btn2{
    width: 278px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}
.director_btn2:hover{
    box-shadow: 0 0 20px #A9A6A8;
}
.director_icon{
    margin-right: 9px;
}
/* geo */
.geo_wrapper{
    margin-bottom: 100px;
}
.geo_video{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 144px;
    background: #C4C4C4;
    line-height: 176px;
    text-align: center;
    color: #FFFFFF;
    padding: 186px 230px;
    margin-left: 240px;
}
.geo_content{
    margin-top: 350px;
    margin-bottom: 308px;
}
.colortext3{
    color: #402D50;
}
.geo_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 38px;
}
.geo_text2{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    position: absolute;
    margin-left: 430px;
    margin-top: -20px;
    border: 18px solid #FFFFFF;
}
.geo_map{
    margin-left: -105px;
}
.geo_btns{
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
}
.geo_input{
    background: #A9A6A8;
    border-radius: 20px;
    width: 299px;
    height: 60px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: none;
    text-align: center;
}
.geo_input::placeholder{
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;   
}
.geo_btn{
    width: 299px;
    height: 60px;
    background: #A56492;
    border-radius: 20px;
    color: white;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    border: none;
    text-align: center;
    box-shadow: 0 0 10px #402D50;
}
.geo_btn:hover{
    box-shadow: 0 0 20px #402D50;
}
/* servicies */
.services_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-top: 100px;
}
.services_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 28px;
    margin-bottom: 47px;
}
.services_blocks{
    display: flex;
    margin-bottom: 85px;
}
.services_block{
    text-align: center;
    margin-right: 20px;
}
.services_block_text{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.services_content{
    margin-left: 338px;
}
.services_block1{
    margin-left: 65px;
    text-align: center;
}
.services_block2{
    margin-left: 12px;
    text-align: center;
}
/* employ */
.employ_wrapper{
    margin-top: 150px;
    display: flex;
}
.employ_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.employ_business{
    display: flex;
    align-items: center;
    margin-top: 240px;
}
.employ_business_img{
    margin-right: 14px;
}
.employ_business_text{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.employ_wrapper_photo{
    margin-left: 260px;
    margin-top: -30px;
}
/* earn */
.earn_wrapper{
    margin-top: 100px;
}
.color_text2{
    color:#FFFFFF;
    background-color: #db86c2;
    padding: 5px 5px 5px;
}
.earn_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.earn_chapter{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.earn_chapter2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #000000;
}
.earn_line{
    margin-left: 270px;
    margin-bottom: 40px;
}
.earn_photo{
    display: flex;
    align-items: center;
}
/* order */
.order_wrapper{
    margin-top: 200px;
}
.colortext4{
    background-color: #A56492;
    color: white;
    padding: 3px 12px;
}
.order_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
}
.colortext5{
    background-color: #A56492;
    color: white;
    padding: 10px 13px;
    text-align: center;
    margin-left: 43px;
}
.oreder_numbers_one{
    display: flex;  
    align-items: center;
}
.order_numbers_one{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
}
.order_line{
    position: absolute;
    margin-top: -50px;
}
.colortext6{
    background-color: #A56492;
    color: white;
    padding: 10px 13px;
    text-align: center;
    margin-left: 126px;
}
.order_number_two{
    margin-top: -90px;
}
.order_content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order_equal{
    color: #A56492;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 100px;
}
.order_num{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 60px;
    line-height: 73px;
    text-align: center;
    color: #000000;
}
/* quan */
.quan_wrapper{
    margin-top: 150px;
}
.quan_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    text-align: center;
}
.colortext7{
    background: #A56492;
    color: white;
    padding: 5px 28px;
}
.quan_content{
    display: flex;
    margin-top: 70px;
}
.quan_block{
    display: flex;
    align-items: center;
}
.quan_block_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.quan_block_subtitle{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #402D50;
    margin-top: -20px;
}
.quan_block_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: -20px;
}
#quan_block_text{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: -20px;
}
.quan_block_content{
    margin-left: 50px;
}
.quan_photo{
    margin-left: 30px;
}
.colortext8{
    font-weight: 500;
}
.colortext10{
    background-color: none;
    font-weight: 500;
}
/* salaryss */
.salaryss_content{
    display: flex;
    align-items: center;
}
.salaryss_wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
}
.salaryss_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 50px;
}
.colortext8{
    color:white;
    background-color: #A56492;
}
.salaryss_text_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.salaryss_text_subtitle{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.salaryss_text{
    margin-bottom: 28px;
}
.colortext9{
    font-weight: 700;
}
.salaryss_like_text{
    display: flex;
    margin-top: 50px;
}
.salaryss_photo{
    margin-right: 58px;
    margin-left: 58px;
    margin-top: 50px;
}
.salaryss_like{
    display: block;
    width: 99px;
    height: 98px;
    margin-right: 21px;
}
.salaryss_like_text_title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 56px;
}
/* profit */
.profit_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.profit_wrapper{
    padding-bottom: 90px;
    background: url('../img/photos/fon_profit.png') no-repeat center center / cover;
}
.colortext11{
    color: white;
    background-color: #A56492;
}
.colortext12{
    font-weight: 700;
}
.profit_subtitle{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 54px;
    margin-bottom: 36px;
}
.profit_content{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.colortext13{
    font-weight: 700;
}
.colortext14{
    color: #FFFFFF;
    background-color: #A56492;
}
.profit_text{
    margin-top: 36px;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
/* excel */
.excel_wrapper{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    align-items: center;
}
.excel_btn{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
    color: #FFFFFF;
    display: flex;
    padding: 0px 46px;
    background: #A56492;
    border-radius: 20px;
    border: none;
    margin-top: -7px;
}
.excel_btn:hover{
    box-shadow: 0 0 10px #402D50;
}
.ex_icon_btn{
    margin-right: 14px;
}
.excel_btns{
    display: flex;
    justify-content: space-between;
}
.excel_subtitle{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.excel_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}
.excel_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 304px;
    height: 70px;
    text-align: center;
    border: none;
}
.excel_input_name::placeholder{
    color: white;
}
.excel_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 304px;
    height: 70px;
    text-align: center;
    border: none;
}
.excel_input_number::placeholder{
    color: white;
}
/* scroll */
.scroll_wrapper{
    margin-top: 100px;
    margin-bottom: 100px;
}
.scroll_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 28px;
}
.colortext15{
    color: #180725;
}
.scroll_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 30px;
}
.scroll_content{
    display: flex;
    justify-content: space-between;
}
.scroll_btn{
    height: 260px;
    width: 260px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: table;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A56492;
    border: none;
    margin-bottom: 50px;
}
.scroll_btn:hover{
    box-shadow: 0 0 20px #180725;
}
.scroll_icon{
    margin-bottom: 13px;
}
/* style */
.style_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.style_wrapper{
   margin-bottom: 100px;
}
.style_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 30px;
}
.style_btn{
    margin-top: 75px;
    padding: 24px 15px;
    background-color: #A56492;
    color: #FFFFFF;
    border: none;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    background: #A56492;
    border-radius: 20px;
}
.style_btn:hover{
    box-shadow: 0 0 20px #402D50;
}
.style_btns{
    display: flex;	
    justify-content: center;
}
/* reviews */
.reviews_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 65px;
    margin-top: 100px;
}
.reviews_content{
    display: flex;
    justify-content: space-between;
}
.reviews_btn{
    height: 186px;
    width: 325px;
    background-color: gray;
    border: none;
}
.reviews_btn:hover{
    box-shadow: 0 0 10px #402D50;
}
.reviews_btn{
    height: 185px;
    width: 325px;
    display: table;
    background: gray;
    border: none;
    margin-bottom: 50px;
}
.reviews_btn:hover{
    box-shadow: 0 0 20px #180725;
}
/* one */
.one_wrapper{
    margin-top: 50px;
    margin-bottom: 190px;
}
.one_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #000000;
    margin-top: -210px;
}
.one_icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* center */
.center_wrapper{
    margin-top: 50px;
    margin-bottom: 100px;
}
.center_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
}
.center_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}
.center_input{
    display: flex;
    justify-content: space-between;
}
.center_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 304px;
    height: 70px;
    text-align: center;
    border: none;
}
.center_input_name::placeholder{
    color: white;
}
.center_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 304px;
    height: 70px;
    text-align: center;
    border: none;
}
.center_input_number::placeholder{
    color: white;
}
.center_btn{
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    width: 460px;
    height: 70px;
    color: white;
    background-color: #A56492;
    border: none;
    border-radius: 20px;
}
.center_input{
    margin-top: 20px;
}
.center_btn:hover{
    box-shadow: 0 0 20px #402D50;
}
/* files */
.files_wrapper{
    margin-bottom: 100px;
}
.files_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}
.files_btns{
    display: flex;
    justify-content: space-between;
}
.files_btn{
    height: 260px;
    width: 260px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    display: table;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #A56492;
    border: none;
    margin-bottom: 50px;
}
.files_btn:hover{
    box-shadow: 0 0 20px #180725;
}
.files_brace{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.files_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 70px;
    margin-bottom: 40px;
}
.files_input{
    display: flex;
    justify-content: space-between;
}
.files_input_name{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 230px;
    height: 70px;
    text-align: center;
    border: none;
}
.files_input_name::placeholder{
    color: white;
}
.files_input_number{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 230px;
    height: 70px;
    text-align: center;
    border: none;
}
.files_input_number::placeholder{
    color: white;
}
.files_btn_input{
    width: 460px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    height: 70px;
    color: white;
    background-color: #A56492;
    border: none;
    border-radius: 20px;
}
.files_btn_input:hover{
    box-shadow: 0 0 20px #402D50;
}
/* questions */
.questions_title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin-bottom: 60px;
}
.questions_wrapper{
    margin-top: 50px;
    margin-bottom: 100px;
}
.questions_block{
    display: flex;
    margin-bottom: 15px;
}
.questions_icon{
    margin-right: 14px;
    display: block;
    height: 60px;
    width: 60px;
}
.questions_question{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-top: -1px;
}
.quections_answer{
    color: black;
    margin-left: 14px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.questions_question2{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.colortext16{
    color: #402D50;
}
/* director2 */
.director2_wrapper{
    display: flex;
    margin-bottom: 100px;
}
.director2_content{
    width: 613px;
}
.director2_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
}
.director2_text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}
.director2_info{
    margin-left: 170px;
}
.director2_photo{
    margin-left: 20px;
}
.director2_input{
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.director2_input_content{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
}
.director2_input_content::placeholder{
    color: white;
}
.director2_btns{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.director2_btn1{
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    background: #A9A6A8;
    border-radius: 20px;
    color: white;
    height: 91px;
    width: 278px;
    border: none;
}
.director2_btn1:hover{
    box-shadow: 0 0 10px #A9A6A8;
}
.director2_btn2{
    width: 278px;
    height: 91px;
    background: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    justify-content: center;
}
.director2_btn2:hover{
    box-shadow: 0 0 20px #A9A6A8;
}
.director2_name{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
/* director3 */
.director3_wrapper{
    display: flex;
}
.director3_title{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    margin-bottom: 30px;
}
.director3_content{
    width: 685px;
}
.director3_subtitle{
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 57px;
}
.director3_inputs{
    display: flex;
    justify-content: space-between;
}
.director3_input{
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    width: 278px;
    height: 60px;
    text-align: center;
    border: none;
}
.director3_input::placeholder{
    color: white;
}
.director3_input_question{
    margin-top: 25px;
    background: #A9A6A8;
    border-radius: 20px;
    font-family: 'Montserrat';  
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    height: 60px;
    border: none;
    width: 685px;
}
.director3_input_question::placeholder{
    color: white;
}
.director3_btn{
    height: 60px;
    width: 278px;
    background: #A56492;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    border: none;
    margin-top: 25px;
    justify-content: center;
}
.director3_btn:hover{
    box-shadow: 0 0 10px #180725;
}